@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Tenor';
    font-style: normal;
    font-weight: 200;
    src: local('Tenor_Sans') url(./assets/Tenor_Sans/TenorSans-Regular.ttf) format('truetype');
  }
}
