// colors

$grey-medium: #64748b;
$brown-grey-light: #bcb8b1;
$brown-grey-medium: #8a817c;
$brown-grey-dark: #464240;
$brown-dark: #463f3a;
$blue-grey-dark: #4a4e69;
$lavander-dark: #9a8c98;
$background-color: #f5ebe0;

@font-face {
  font-family: 'Abhaya-R';
  src: url(/src/assets/Abhaya_Libre/AbhayaLibre-Regular.ttf);
}

// fonts

$font-family-1: 'Abhaya-R';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

body {
  background-color: $background-color;
  font-family: $font-family-1;
}
